@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Página do aluno";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Persista, pois o sucesso está logo adiante. Cada desafio é uma oportunidade para crescer.</p>
</div>

