@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Coleta de Informações: Coletamos informações pessoais necessárias para fornecer nossos serviços. Isso pode incluir nome, idade e CPF.</p>


